#first-num{
    display: inline;
}

#last-num{
    display: inline;
}
#plas{
    display: inline;
}
#value{
    display: inline;
}
#equal{
    display: inline;
}
.created-p {
    display: inline;
}
#label{
    margin:20px 0px
}
.mysub{
    margin:20px 0px
}
p{
    margin-bottom: 0mm;
}